* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(251, 240, 224);
}

body {
  background-color: rgb(236, 208, 175);
  border: 3px solid goldenrod;
  box-shadow: 0 0 20px gray;

  min-width: 450px;
  max-width: 650px;
  min-height: 600px;

  margin: 20px auto;
  padding: 15px;
}

.todoContainer {
  margin-top: 10px;
  background-color: rgb(166, 230, 239);
  border: 1px solid black;
  border-radius: 5px;
}
